<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>퀴즈 메인</title>
  <link rel="stylesheet" href="/css/MainStyle.css">
</head>
<body>
<header>
  <img class="logo" src="/assets/logo/logo.png" alt="로고" onclick="goMain()" style="cursor:pointer;" />
  <div class="menu-buttons">
    <button onclick="location.href='/notice/quizNoticeList'">공지사항</button>
    <button onclick="location.href='/user/login'">로그인</button>
  </div>
</header>

<main>
  <div class="quiz-container">

    <!-- 카드 1 -->
    <div class="quiz-card" onclick="location.href='/quiz/image'">
      <div class="quiz-thumbnail">
        <img src="/assets/thumbnail/sample_thumbnail.jpg" alt="퀴즈 썸네일" />
      </div>
      <div class="quiz-info">
        <div class="quiz-title">부분 이미지 퀴즈</div>
        <div class="quiz-desc">
          잘린 부분 사진 보고 맞추기<br/>퀴즈 설명 설명 설명어어엉
        </div>
        <img class="icon" src="/assets/icon/image_icon.png" alt="아이콘" />
      </div>
    </div>

    <!-- 카드 2 -->
    <div class="quiz-card" onclick="location.href='/quiz/image'">
      <div class="quiz-thumbnail">
        <img src="/assets/thumbnail/sample_thumbnail.jpg"  alt="퀴즈 썸네일" />
      </div>
      <div class="quiz-info">
        <div class="quiz-title">전체 이미지 퀴즈</div>
        <div class="quiz-desc">
          전체 사진 보고 맞추기<br/>퀴즈 설명 설명 설명어어엉
        </div>
        <img class="icon" src="/assets/icon/image_icon.png" alt="아이콘" />
      </div>
    </div>

    <!-- 카드 3 -->
    <div class="quiz-card" onclick="location.href='/quiz/audio'">
      <div class="quiz-thumbnail">
        <img src="/assets/thumbnail/sample_thumbnail.jpg"  alt="퀴즈 썸네일" />
      </div>
      <div class="quiz-info">
        <div class="quiz-title">음성 퀴즈</div>
        <div class="quiz-desc">
          음악 듣고 맞추기<br/>퀴즈 설명 설명 설명어어엉
        </div>
        <img class="icon" src="/assets/icon/audio_icon.png" alt="아이콘" />
      </div>
    </div>

    <!-- 카드 4 -->
    <div class="quiz-card" onclick="location.href='/quiz/multiple'">
      <div class="quiz-thumbnail">
        <img src="/assets/thumbnail/sample_thumbnail.jpg"  alt="퀴즈 썸네일" />
      </div>
      <div class="quiz-info">
        <div class="quiz-title">객관식 퀴즈</div>
        <div class="quiz-desc">
          객관식 문제 보고 선택지 맞추기<br/>퀴즈 설명 설명 설명어어엉
        </div>
        <img class="icon" src="/assets/icon/multi_icon.png" alt="아이콘" />
      </div>
    </div>

    <!-- 카드 5 -->
    <div class="quiz-card" onclick="location.href='/quiz/ai'">
      <div class="quiz-thumbnail">
        <img src="/assets/thumbnail/sample_thumbnail.jpg"  alt="퀴즈 썸네일" />
      </div>
      <div class="quiz-info">
        <div class="quiz-title">객관식 퀴즈 (AI)</div>
        <div class="quiz-desc">
          AI가 만든 객관식 문제 보고 맞추기<br/>퀴즈 설명 설명 설명어어엉
        </div>
        <img class="icon" src="/assets/icon/ai_icon.png" alt="아이콘" />
      </div>
    </div>

  </div>
</main>
</body>
</html>
